.wrapper {
    background-color: green;
    height: 100vh;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.slider {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 1.5rem;
}

.slider__inner {
    display: flex;
    overflow: hidden;
}

.slider__box {
    flex: 1 0 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    transition: transform 0.5s ease-in-out;
    height: 100%;

}

.slider__title {
    align-self: center;
}

.slider__images-box {
    align-self: center;
    max-width: 50rem;
    max-height: 50rem;
    height: 100%;
}

.slider__img {
    height: 100%;
}

.slider__dots {
    align-self: center;
    display: flex;
    column-gap: 1.5rem;
}

.slider__dots-element {
    border: 1px solid black;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}

.slider__dots-element--active {
    background-color: var(--black);
}